.footer
  color: $light
  background-color: $dark
  padding: 108px 0 46px
  &-wrapper
    border: 1px solid red
    display: grid
    grid-template-columns: repeat(4, minmax(250px, 1fr))
  &__title
    font-weight: 700
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    margin: 0
    margin-bottom: 16px
  &__ul
    margin: 0
    padding: 0
    list-style: none
  &__item
    color: $footer
    font-weight: 400
    font-size: 14px
    line-height: 160%
  &__link
    color: inherit
    text-decoration: none
