.packages
  padding: 40px 0 70px
  &__stars
    margin-bottom: 2px
  &__star
    margin-right: -2px
    &:last-child
      margin-right: 0
  &__title
    font-weight: 700
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin-top: 0
    margin-bottom: 65px
  &-grid
    display: grid
    grid-template-rows: repeat(2, 1fr)
    grid-template-columns: repeat(3, 1fr)
    row-gap: 30px
    column-gap: 30px
    grid-template-areas: "blue-haven blue-haven belle-mare" "white-palace luxury-place five-star"
  &__button
    color: $light
    font-family: "Nunito", sans-serif
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 19px
    padding: 11px 27px 10px 26px
    background-color: $primary
    border: none
    border-radius: 4px
    cursor: pointer
.blue-haven
  grid-area: blue-haven
  display: flex
  max-width: 730px
  border-radius: 8px
  overflow: hidden
  &__case-image
    position: relative
    width: 100%
    height: 500px
  &__image
    width: 100%
    height: 100%
    object-fit: cover
  &__flash-offer
    position: absolute
    left: 0
    top: 26px
    color: $light
    background-color: $primary
    font-weight: 600
    font-size: 12px
    line-height: 15px
    padding: 8px 22px 7px 11px
    border-radius: 0px 4px 4px 0
  &__case-content
    display: flex
    flex-direction: column
    color: $light
    background-color: $dark
    max-width: 364px
    height: 500px
    padding: 40px 21px 30px 43px
    overflow-y: scroll
    &::-webkit-scrollbar
      width: 6px
      height: 6px
    &::-webkit-scrollbar-button
      background-color: $dark
    &::-webkit-scrollbar-track
      background-color: $dark
    &::-webkit-scrollbar-track-piece
      background-color: #85919E
    &::-webkit-scrollbar-thumb
      height: 50px
      background-color: $dark
      border-radius: 6px
    &::-webkit-scrollbar-corner
      background-color: $dark
    &::-webkit-resizer
      background-color: $dark
  &__title
    font-weight: 700
    font-size: 18px
    line-height: 23px
    margin-top: 0
    margin-bottom: 27px
  &__about
    font-weight: 400
    font-size: 14px
    line-height: 160.6%
    margin-top: 0
    margin-bottom: 44px
  &__room
    margin-left: 3px
    margin-bottom: 38px
  &__text
    display: flex
    align-items: center
    font-weight: 400
    font-size: 12px
    line-height: 15px
    margin-bottom: 11px
    &:last-child
      margin-bottom: 0
  &__description
    margin-left: 14px
  &__crossed-out
    font-weight: 400
    font-size: 14px
    line-height: 18px
    text-decoration-line: line-through
    margin-left: 3px
  &__price
    display: flex
    align-items: center
    justify-content: space-between
    margin-left: 3px
  &__price-tag
    font-weight: 700
    font-size: 24px
    line-height: 30px
.belle-mare
  grid-area: belle-mare
.white-palace
  grid-area: white-palace
.luxury-place
  grid-area: luxury-place
.five-star
  grid-area: five-star
.belle-mare, .white-palace, .luxury-place, .five-star
  display: flex
  flex-direction: column
  max-width: 350px
  border-radius: 8px
  overflow: hidden
  &__case-image
    position: relative
    width: 100%
    height: 250px
  &__image
    width: 100%
    height: 100%
    object-fit: cover
  &__flash-offer
    position: absolute
    left: 0
    top: 26px
    color: $light
    background-color: $primary
    font-weight: 600
    font-size: 8px
    line-height: 10px
    padding: 4px 9px
    border-radius: 0px 4px 4px 0
  &__case-content
    display: flex
    flex-direction: column
    color: $light
    background-color: $dark
    max-width: 350px
    height: 250px
    padding: 30px 21px 25px 32px
  &__title
    font-weight: 700
    font-size: 18px
    line-height: 23px
    margin-top: 0
    margin-bottom: 23px
  &__room
    margin-bottom: 24px
  &__text
    display: flex
    align-items: center
    font-weight: 400
    font-size: 12px
    line-height: 15px
    margin-bottom: 11px
    &:last-child
      margin-bottom: 0
  &__description
    margin-left: 14px
  &__crossed-out
    font-weight: 400
    font-size: 14px
    line-height: 18px
    text-decoration-line: line-through
  &__price
    display: flex
    align-items: center
    justify-content: space-between
  &__price-tag
    font-weight: 700
    font-size: 24px
    line-height: 30px
